<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
    rel="stylesheet"/>
    <link rel="stylesheet" href="/styles/footer.css">
</head>
<body>
    
    <footer>

        <div class="footermainbox">

            <div class="fbox1">

                <div class="footerimagebox">

                    <img src="/images/logo.png" alt="">

                </div>

            </div>
            <div class="fbox2">

                <p> Quick Links </p>

                <ul>

                    <li><a href="/"> Home </a></li>
                    <li><a href="#"> About </a></li>
                    <li><a href="#"> Mission & Vission </a></li>
                    <li><a href="#"> Community </a></li>

                </ul>

            </div>
            <div class="fbox3">

                <p> Others </p>

                <ul>

                    <li><a href="#"> Club Members </a></li>
                    <li><a href="#"> Puja Gallery </a></li>
                    <li><a href="#"> Puja Events </a></li>
                    <li><a href="#"> Blogs </a></li>

                </ul>

            </div>
            <div class="fbox4">

                <p> Get In Touch </p>

                <ul>

                    <li>
                        8-17, Nepal Bhattacharjee St, Anami Sangha Kalighat, Kolkata, West Bengal - 700026
                    </li>
                    <li> +91 342XX XX223 / 843XX XX234 </li>
                    <li> badamtalaasharsangha@gmail.com </li>
                    <li> 

                        <div class="links">

                            <a href="#"><i class="ri-facebook-fill"></i></a>
                            <a href="#"><i class="ri-instagram-line"></i></a>
                            <a href="#"><i class="ri-twitter-x-line"></i></a>

                        </div>

                    </li>

                </ul>

            </div>

        </div>

        <div class="footercopyrightbox"></div>

    </footer>

    <script>

        let copyRightSection = document.querySelector(".footercopyrightbox");

            let currentYear = new Date().getFullYear();

            copyRightSection.innerHTML = `<p> Badamtala Ashar Sangha @ ${currentYear} | Developed By SSD </p>`

    </script>

</body>
</html>