<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/indexevent.css">
</head>
<body>
    
    <div class="eventsection">

        <div class="coloroverlay">

            <div class="eventtext">

                <h2> ~|| Club Events ||~ </h2>

            </div>
            <div class="eventbox">

                <div class="events">

                    <div class="yearlinks">

                        <ul>
                            <li>2020</li>
                            <li>2021</li>
                            <li>2022</li>
                            <li>2023</li>
                            <li>2024</li>
                        </ul>

                    </div>

                    <div class="eventsbox">

                        <div class="box1" id="firstbox">

                            <h3> Events Of 2020 </h3>

                            <div class="cardbox">

                                <div class="card">

                                    <div class="cardimage">

                                        <img src="https://img.freepik.com/free-vector/hindu-religious-durga-puja-festival-holiday-background-vector-illustration_1017-39718.jpg" alt="">

                                    </div>

                                    <div class="cardtext">

                                        <h3> Events Name </h3>
                                        <img src="/images/logo.png" alt="">
                                        <button> Read More </button>

                                    </div>

                                </div>

                                <!-- First Card -->
                                 <div class="card">

                                    <div class="cardimage">

                                        <img src="https://img.freepik.com/free-vector/hindu-religious-durga-puja-festival-holiday-background-vector-illustration_1017-39718.jpg" alt="">

                                    </div>

                                    <div class="cardtext">

                                        <h3> Events Name </h3>
                                        <img src="/images/logo.png" alt="">
                                        <button> Read More </button>

                                    </div>

                                </div>

                                <!-- Third Card -->
                                 <div class="card">

                                    <div class="cardimage">

                                        <img src="https://img.freepik.com/free-vector/hindu-religious-durga-puja-festival-holiday-background-vector-illustration_1017-39718.jpg" alt="">

                                    </div>

                                    <div class="cardtext">

                                        <h3> Events Name </h3>
                                        <img src="/images/logo.png" alt="">
                                        <button> Read More </button>

                                    </div>

                                </div>

                                <!-- Fourth Card -->
                                 <div class="card">

                                    <div class="cardimage">

                                        <img src="https://img.freepik.com/free-vector/hindu-religious-durga-puja-festival-holiday-background-vector-illustration_1017-39718.jpg" alt="">

                                    </div>

                                    <div class="cardtext">

                                        <h3> Events Name </h3>
                                        <img src="/images/logo.png" alt="">
                                        <button> Read More </button>

                                    </div>

                                </div>

                            </div>

                        </div>

                        <div class="box2" id="secondbox">

                            <h3> Events Of 2021 </h3>

                            <div class="cardbox">

                                <div class="card">

                                    <div class="cardimage">

                                        <img src="https://img.freepik.com/free-vector/happy-durga-pooja-hindu-festival-celebration-background_1017-39812.jpg" alt="">

                                    </div>

                                    <div class="cardtext">

                                        <h3> Events Name </h3>
                                        <img src="/images/logo.png" alt="">
                                        <button> Read More </button>

                                    </div>

                                </div>

                                <!-- Second Card -->
                                 <div class="card">

                                    <div class="cardimage">

                                        <img src="https://img.freepik.com/free-vector/happy-durga-pooja-hindu-festival-celebration-background_1017-39812.jpg" alt="">

                                    </div>

                                    <div class="cardtext">

                                        <h3> Events Name </h3>
                                        <img src="/images/logo.png" alt="">
                                        <button> Read More </button>

                                    </div>

                                </div>

                                <!-- Third Card -->
                                 <div class="card">

                                    <div class="cardimage">

                                        <img src="https://img.freepik.com/free-vector/happy-durga-pooja-hindu-festival-celebration-background_1017-39812.jpg" alt="">

                                    </div>

                                    <div class="cardtext">

                                        <h3> Events Name </h3>
                                        <img src="/images/logo.png" alt="">
                                        <button> Read More </button>

                                    </div>

                                </div>

                                <!-- Fourth Card -->
                                 <div class="card">

                                    <div class="cardimage">

                                        <img src="https://img.freepik.com/free-vector/happy-durga-pooja-hindu-festival-celebration-background_1017-39812.jpg" alt="">

                                    </div>

                                    <div class="cardtext">

                                        <h3> Events Name </h3>
                                        <img src="/images/logo.png" alt="">
                                        <button> Read More </button>

                                    </div>

                                </div>

                            </div>

                        </div>

                        <div class="box3" id="thirdbox">

                            <h3> Events Of 2022 </h3>

                            <div class="cardbox">

                                <div class="card">

                                    <div class="cardimage">

                                        <img src="https://img.freepik.com/premium-vector/vector-illustration-happy-durga-puja_181203-5122.jpg" alt="">

                                    </div>

                                    <div class="cardtext">

                                        <h3> Events Name </h3>
                                        <img src="/images/logo.png" alt="">
                                        <button> Read More </button>

                                    </div>

                                </div>

                                <!-- Third Card -->
                                 <div class="card">

                                    <div class="cardimage">

                                        <img src="https://img.freepik.com/premium-vector/vector-illustration-happy-durga-puja_181203-5122.jpg" alt="">

                                    </div>

                                    <div class="cardtext">

                                        <h3> Events Name </h3>
                                        <img src="/images/logo.png" alt="">
                                        <button> Read More </button>

                                    </div>

                                </div>

                                <!-- Third Card -->
                                 <div class="card">

                                    <div class="cardimage">

                                        <img src="https://img.freepik.com/premium-vector/vector-illustration-happy-durga-puja_181203-5122.jpg" alt="">

                                    </div>

                                    <div class="cardtext">

                                        <h3> Events Name </h3>
                                        <img src="/images/logo.png" alt="">
                                        <button> Read More </button>

                                    </div>

                                </div>

                                <!-- Fourth Card -->
                                 <div class="card">

                                    <div class="cardimage">

                                        <img src="https://img.freepik.com/premium-vector/vector-illustration-happy-durga-puja_181203-5122.jpg" alt="">

                                    </div>

                                    <div class="cardtext">

                                        <h3> Events Name </h3>
                                        <img src="/images/logo.png" alt="">
                                        <button> Read More </button>

                                    </div>

                                </div>

                            </div>

                        </div>

                        <div class="box4" id="fourthbox">

                            <h3> Events Of 2023 </h3>

                            <div class="cardbox">

                                <div class="card">

                                    <div class="cardimage">

                                        <img src="https://media.istockphoto.com/id/1648276950/vector/bengali-lady-blowing-a-conch-shell-during-durga-puja-at-a-durga-puja-celebrations-pandal.jpg?s=612x612&w=0&k=20&c=RQ26mUf15JWkrUU3g9e5vtw4uYNfBH9zT6R9nPTxaAY=" alt="">

                                    </div>

                                    <div class="cardtext">

                                        <h3> Events Name </h3>
                                        <img src="/images/logo.png" alt="">
                                        <button> Read More </button>

                                    </div>

                                </div>

                                <!-- Fourth Card -->
                                 <div class="card">

                                    <div class="cardimage">

                                        <img src="https://media.istockphoto.com/id/1648276950/vector/bengali-lady-blowing-a-conch-shell-during-durga-puja-at-a-durga-puja-celebrations-pandal.jpg?s=612x612&w=0&k=20&c=RQ26mUf15JWkrUU3g9e5vtw4uYNfBH9zT6R9nPTxaAY=" alt="">

                                    </div>

                                    <div class="cardtext">

                                        <h3> Events Name </h3>
                                        <img src="/images/logo.png" alt="">
                                        <button> Read More </button>

                                    </div>

                                </div>

                                <!-- Third Card -->
                                 <div class="card">

                                    <div class="cardimage">

                                        <img src="https://media.istockphoto.com/id/1648276950/vector/bengali-lady-blowing-a-conch-shell-during-durga-puja-at-a-durga-puja-celebrations-pandal.jpg?s=612x612&w=0&k=20&c=RQ26mUf15JWkrUU3g9e5vtw4uYNfBH9zT6R9nPTxaAY=" alt="">

                                    </div>

                                    <div class="cardtext">

                                        <h3> Events Name </h3>
                                        <img src="/images/logo.png" alt="">
                                        <button> Read More </button>

                                    </div>

                                </div>

                                <!-- Fourth Card -->
                                 <div class="card">

                                    <div class="cardimage">

                                        <img src="https://media.istockphoto.com/id/1648276950/vector/bengali-lady-blowing-a-conch-shell-during-durga-puja-at-a-durga-puja-celebrations-pandal.jpg?s=612x612&w=0&k=20&c=RQ26mUf15JWkrUU3g9e5vtw4uYNfBH9zT6R9nPTxaAY=" alt="">

                                    </div>

                                    <div class="cardtext">

                                        <h3> Events Name </h3>
                                        <img src="/images/logo.png" alt="">
                                        <button> Read More </button>

                                    </div>

                                </div>

                            </div>

                        </div>

                        <div class="box5" id="fifthbox">

                            <h3> Events Of 2024 </h3>

                            <div class="cardbox">

                                <div class="card">

                                    <div class="cardimage">

                                        <img src="https://img.freepik.com/free-vector/happy-durga-puja-festival-celebration-card-background_1035-20842.jpg" alt="">

                                    </div>

                                    <div class="cardtext">

                                        <h3> Events Name </h3>
                                        <img src="/images/logo.png" alt="">
                                        <button> Read More </button>

                                    </div>

                                </div>

                                <!-- Fifth Card -->
                                 <div class="card">

                                    <div class="cardimage">

                                        <img src="https://img.freepik.com/free-vector/happy-durga-puja-festival-celebration-card-background_1035-20842.jpg" alt="">

                                    </div>

                                    <div class="cardtext">

                                        <h3> Events Name </h3>
                                        <img src="/images/logo.png" alt="">
                                        <button> Read More </button>

                                    </div>

                                </div>

                                <!-- Fifth Card -->
                                 <div class="card">

                                    <div class="cardimage">

                                        <img src="https://img.freepik.com/free-vector/happy-durga-puja-festival-celebration-card-background_1035-20842.jpg" alt="">

                                    </div>

                                    <div class="cardtext">

                                        <h3> Events Name </h3>
                                        <img src="/images/logo.png" alt="">
                                        <button> Read More </button>

                                    </div>

                                </div>

                                <!-- Fifth Card -->
                                 <div class="card">

                                    <div class="cardimage">

                                        <img src="https://img.freepik.com/free-vector/happy-durga-puja-festival-celebration-card-background_1035-20842.jpg" alt="">

                                    </div>

                                    <div class="cardtext">

                                        <h3> Events Name </h3>
                                        <img src="/images/logo.png" alt="">
                                        <button> Read More </button>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

                <button id="button"> View More Events </button>

            </div>

        </div>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/js/indexevent.js"></script>

</body>
</html>