<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/logocarousel.css" />
  </head>
  <body>
    <div class="logosection">
      <div class="logobox">
        <div class="headingText">
          <h2>|| Our Sponsors ||</h2>
        </div>
        <!-- First Logo Carousel -->
        <div class="logocarousel">
          <div class="logos">
            <img src="/images/badamtalalogo.png" alt />
            <img src="/images/biswabanglalogo.png" alt />
            <img src="/images/jisgrouplogo.png" alt />
            <img src="/images/techwalalogo.png" alt />
            <img src="/images/sungrouplogo.png" alt />
            <img src="/images/suroshreelogo.png" alt />
            <img src="/images/kolkatapolicelogo.png" alt />
            <img src="/images/safedrivelogo.png" alt />
          </div>

          <div class="logos">
            <img src="/images/badamtalalogo.png" alt />
            <img src="/images/biswabanglalogo.png" alt />
            <img src="/images/jisgrouplogo.png" alt />
            <img src="/images/techwalalogo.png" alt />
            <img src="/images/sungrouplogo.png" alt />
            <img src="/images/suroshreelogo.png" alt />
            <img src="/images/kolkatapolicelogo.png" alt />
            <img src="/images/safedrivelogo.png" alt />
          </div>

           <div class="logos">
            <img src="/images/badamtalalogo.png" alt />
            <img src="/images/biswabanglalogo.png" alt />
            <img src="/images/jisgrouplogo.png" alt />
            <img src="/images/techwalalogo.png" alt />
            <img src="/images/sungrouplogo.png" alt />
            <img src="/images/suroshreelogo.png" alt />
            <img src="/images/kolkatapolicelogo.png" alt />
            <img src="/images/safedrivelogo.png" alt />
          </div>
        </div>

        <!-- Second Logo Carousel -->
        <div class="logocarousel2">
          <div class="logos2">
           <img src="/images/biswabanglalogo.png" alt />
            <img src="/images/badamtalalogo.png" alt />
            <img src="/images/techwalalogo.png" alt />
            <img src="/images/jisgrouplogo.png" alt />
            <img src="/images/suroshreelogo.png" alt />
            <img src="/images/sungrouplogo.png" alt />
            <img src="/images/safedrivelogo.png" alt />
            <img src="/images/kolkatapolicelogo.png" alt />
          </div>

          <div class="logos2">
            <img src="/images/biswabanglalogo.png" alt />
            <img src="/images/badamtalalogo.png" alt />
            <img src="/images/techwalalogo.png" alt />
            <img src="/images/jisgrouplogo.png" alt />
            <img src="/images/suroshreelogo.png" alt />
            <img src="/images/sungrouplogo.png" alt />
            <img src="/images/safedrivelogo.png" alt />
            <img src="/images/kolkatapolicelogo.png" alt />
          </div>

          <div class="logos2">
            <img src="/images/biswabanglalogo.png" alt />
            <img src="/images/badamtalalogo.png" alt />
            <img src="/images/techwalalogo.png" alt />
            <img src="/images/jisgrouplogo.png" alt />
            <img src="/images/suroshreelogo.png" alt />
            <img src="/images/sungrouplogo.png" alt />
            <img src="/images/safedrivelogo.png" alt />
            <img src="/images/kolkatapolicelogo.png" alt />
          </div>
        </div>
        </div>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/js/sponsors.js"></script>
  </body>
</html>
