<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/membersubscription.css">
</head>
<body>
    
    <div class="membersubscription">

        <div class="membertext">

            <h2>|| Become a member of our club ||</h2>

        </div>
        <div class="subscriptionbtn">

            <form action="/subscription" method="post">

                <input type="text" name="name" placeholder="Enter Your Name" required>
                <input type="email" name="email" placeholder="Enter Your Email" required>
                <input type="submit" value="Become A Member">

            </form>

        </div>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/js/membershipform.js"></script>

</body>
</html>