<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/pujablogs.css">
</head>
<body>
    
    <div class="pujablogsection">

        <div class="blogsectioncoloroverlay">

            <div class="blogtext">

                <h2> || Puja Blogs || </h2>

            </div>
            <div class="blogsection">

                <div class="blogcarousel">

                    <div class="blogbox">

                    <div class="blogimage">

                        <a href="#">

                            <img src="https://images.pexels.com/photos/28801385/pexels-photo-28801385/free-photo-of-elegant-durga-idol-celebrated-in-kolkata-festival.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">

                        </a>

                    </div>
                    <div class="blogtext">

                        <div class="blogtext1">

                            <div class="blogcontent1">

                                <!-- <img src="/images/logo.png" alt=""> -->

                            </div>
                            <div class="blogcontent2">

                                <i class="ri-calendar-event-line"></i>
                                <p>Oct 2, 2024</p>

                            </div>

                        </div>
                        <div class="blogtext2">

                            <a href="#"><span> Badamtala Ashar Sangha Club Puja 2024 </span></a>

                        </div>
                        <div class="blogtext3">

                            <img src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt>

                            <p> <span> Minakshi Sarkar </span> </p>

                        </div>

                    </div>

                    </div>

                    <div class="blogbox">

                    <div class="blogimage">

                        <a href="#">

                            <img src="https://images.pexels.com/photos/9835792/pexels-photo-9835792.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">

                        </a>

                    </div>
                    <div class="blogtext">

                        <div class="blogtext1">

                            <div class="blogcontent1">

                                <!-- <img src="/images/logo.png" alt=""> -->

                            </div>
                            <div class="blogcontent2">

                                <i class="ri-calendar-event-line"></i>
                                <p>Oct 2, 2024</p>

                            </div>

                        </div>
                        <div class="blogtext2">

                            <a href="#"><span> Badamtala Ashar Sangha Club Puja 2024 </span></a>

                        </div>
                        <div class="blogtext3">

                            <img src="https://images.unsplash.com/photo-1544723795-3fb6469f5b39?q=80&w=1978&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt>

                            <p><span> Rajesh Roy </span> </p>

                        </div>

                    </div>

                    </div>

                    <div class="blogbox">

                    <div class="blogimage">

                        <a href="#">

                            <img src="https://images.pexels.com/photos/30106641/pexels-photo-30106641/free-photo-of-vibrant-durga-puja-festival-idol-display.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">

                        </a>

                    </div>
                    <div class="blogtext">

                        <div class="blogtext1">

                            <div class="blogcontent1">

                                <!-- <img src="/images/logo.png" alt=""> -->

                            </div>
                            <div class="blogcontent2">

                                <i class="ri-calendar-event-line"></i>
                                <p>Oct 2, 2024</p>

                            </div>

                        </div>
                        <div class="blogtext2">

                            <a href="#"><span> Badamtala Ashar Sangha Club Puja 2024 </span></a>

                        </div>
                        <div class="blogtext3">

                            <img src="https://images.unsplash.com/photo-1534008757030-27299c4371b6?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt>

                            <p> <span> Malini Sarkar </span> </p>

                        </div>

                    </div>

                    </div>

                </div>

                <div class="blogcarousel">

                    <div class="blogbox">

                    <div class="blogimage">

                        <a href="#">

                            <img src="https://images.pexels.com/photos/28801385/pexels-photo-28801385/free-photo-of-elegant-durga-idol-celebrated-in-kolkata-festival.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">

                        </a>

                    </div>
                    <div class="blogtext">

                        <div class="blogtext1">

                            <div class="blogcontent1">

                                <!-- <img src="/images/logo.png" alt=""> -->

                            </div>
                            <div class="blogcontent2">

                                <i class="ri-calendar-event-line"></i>
                                <p>Oct 2, 2024</p>

                            </div>

                        </div>
                        <div class="blogtext2">

                            <a href="#"><span> Badamtala Ashar Sangha Club Puja 2024 </span></a>

                        </div>
                        <div class="blogtext3">

                            <img src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt>

                            <p> <span> Minakshi Sarkar </span> </p>

                        </div>

                    </div>

                    </div>

                    <div class="blogbox">

                    <div class="blogimage">

                        <a href="#">

                            <img src="https://images.pexels.com/photos/9835792/pexels-photo-9835792.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">

                        </a>

                    </div>
                    <div class="blogtext">

                        <div class="blogtext1">

                            <div class="blogcontent1">

                                <!-- <img src="/images/logo.png" alt=""> -->

                            </div>
                            <div class="blogcontent2">

                                <i class="ri-calendar-event-line"></i>
                                <p>Oct 2, 2024</p>

                            </div>

                        </div>
                        <div class="blogtext2">

                            <a href="#"><span> Badamtala Ashar Sangha Club Puja 2024 </span></a>

                        </div>
                        <div class="blogtext3">

                            <img src="https://images.unsplash.com/photo-1544723795-3fb6469f5b39?q=80&w=1978&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt>

                            <p> <span> Rajesh Roy </span> </p>

                        </div>

                    </div>

                    </div>

                    <div class="blogbox">

                    <div class="blogimage">

                        <a href="#">

                            <img src="https://images.pexels.com/photos/30106641/pexels-photo-30106641/free-photo-of-vibrant-durga-puja-festival-idol-display.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">

                        </a>

                    </div>
                    <div class="blogtext">

                        <div class="blogtext1">

                            <div class="blogcontent1">

                                <!-- <img src="/images/logo.png" alt=""> -->

                            </div>
                            <div class="blogcontent2">

                                <i class="ri-calendar-event-line"></i>
                                <p>Oct 2, 2024</p>

                            </div>

                        </div>
                        <div class="blogtext2">

                            <a href="#"><span> Badamtala Ashar Sangha Club Puja 2024 </span></a>

                        </div>
                        <div class="blogtext3">

                            <img src="https://images.unsplash.com/photo-1534008757030-27299c4371b6?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt>

                            <p> <span> Malini Sarkar </span> </p>

                        </div>

                    </div>

                    </div>

                </div>

                <div class="blogcarousel">

                    <div class="blogbox">

                    <div class="blogimage">

                        <a href="#">

                            <img src="https://images.pexels.com/photos/28801385/pexels-photo-28801385/free-photo-of-elegant-durga-idol-celebrated-in-kolkata-festival.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">

                        </a>

                    </div>
                    <div class="blogtext">

                        <div class="blogtext1">

                            <div class="blogcontent1">

                                <!-- <img src="/images/logo.png" alt=""> -->

                            </div>
                            <div class="blogcontent2">

                                <i class="ri-calendar-event-line"></i>
                                <p>Oct 2, 2024</p>

                            </div>

                        </div>
                        <div class="blogtext2">

                            <a href="#"><span> Badamtala Ashar Sangha Club Puja 2024 </span></a>

                        </div>
                        <div class="blogtext3">

                            <img src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt>

                            <p> <span> Minakshi Sarkar </span> </p>

                        </div>

                    </div>

                    </div>

                    <div class="blogbox">

                    <div class="blogimage">

                        <a href="#">

                            <img src="https://images.pexels.com/photos/9835792/pexels-photo-9835792.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">

                        </a>

                    </div>
                    <div class="blogtext">

                        <div class="blogtext1">

                            <div class="blogcontent1">

                                <!-- <img src="/images/logo.png" alt=""> -->

                            </div>
                            <div class="blogcontent2">

                                <i class="ri-calendar-event-line"></i>
                                <p>Oct 2, 2024</p>

                            </div>

                        </div>
                        <div class="blogtext2">

                            <a href="#"><span> Badamtala Ashar Sangha Club Puja 2024 </span></a>

                        </div>
                        <div class="blogtext3">

                            <img src="https://images.unsplash.com/photo-1544723795-3fb6469f5b39?q=80&w=1978&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt>

                            <p> <span> Rajesh Roy </span> </p>

                        </div>

                    </div>

                    </div>

                    <div class="blogbox">

                    <div class="blogimage">

                        <a href="#">

                            <img src="https://images.pexels.com/photos/30106641/pexels-photo-30106641/free-photo-of-vibrant-durga-puja-festival-idol-display.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">

                        </a>

                    </div>
                    <div class="blogtext">

                        <div class="blogtext1">

                            <div class="blogcontent1">

                                <!-- <img src="/images/logo.png" alt=""> -->

                            </div>
                            <div class="blogcontent2">

                                <i class="ri-calendar-event-line"></i>
                                <p>Oct 2, 2024</p>

                            </div>

                        </div>
                        <div class="blogtext2">

                            <a href="#"><span> Badamtala Ashar Sangha Club Puja 2024 </span></a>

                        </div>
                        <div class="blogtext3">

                            <img src="https://images.unsplash.com/photo-1534008757030-27299c4371b6?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt>

                            <p> <span> Malini Sarkar </span> </p>

                        </div>

                    </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/js/pujablogs.js"></script>

</body>
</html>