<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/trophysection.css">
</head>
<body>
    
    <div class="tropysection">

        <div class="trophy">

            <div class="trophyheading">

                <h2> || Our Glory & Our Pride || </h2>

            </div>
            <div class="trophycarousel">

                <div class="carouselbox">

                    <div class="trophies">

                        <img src="/images/trophy1.png" alt>
                        <img src="/images/trophy2.png" alt>
                        <img src="/images/trophy3.png" alt>
                        <img src="/images/trophy4.png" alt>
                        <img src="/images/trophy5.png" alt>
                        <img src="/images/trophy6.png" alt>
                        <img src="/images/trophy7.png" alt>

                    </div>

                    <div class="trophies">

                        <img src="/images/trophy1.png" alt>
                        <img src="/images/trophy2.png" alt>
                        <img src="/images/trophy3.png" alt>
                        <img src="/images/trophy4.png" alt>
                        <img src="/images/trophy5.png" alt>
                        <img src="/images/trophy6.png" alt>
                        <img src="/images/trophy7.png" alt>

                    </div>

                </div>

                <div class="trophybutton">

                    <a href="#"><button> View More </button></a>

                </div>

            </div>

        </div>

    </div>

</body>
</html>