<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/styles/videoshowcase.css">
</head>
<body>
    
    <div class="videoshowcasebox">

        <div class="subvideobox">

            <div class="videocoloroverlay">

                <div class="videoHeading">

                    <img src="/images/logo.png" alt>

                    <h2> Video Showcase </h2>

                    <a href="#"><button> View More </button></a>

                </div>
                <div class="videosection">

                    <div class="videos">

                        <div class="videobox">

                            <div class="icon">

                                <!-- <i class="ri-play-large-line"></i> -->
                                <strong> || Play Video || </strong>

                            </div>

                        </div>


                        <div class="videobox">

                            <div class="icon">

                                <!-- <i class="ri-play-large-line"></i> -->
                                <strong> || Play Video || </strong>

                            </div>

                        </div>

                        <div class="videobox">

                            <div class="icon">

                                <!-- <i class="ri-play-large-line"></i> -->
                                <strong> || Play Video || </strong>

                            </div>

                        </div>
                        

                    </div>

                </div>

            </div>

            <div class="videoshowcase">

                <div class="videoboxsection">

                    <i class="ri-close-large-line"></i>
                    <video src="/videos/20776482-hd_1920_1080_60fps.mp4" controls></video>

                </div>

            </div>

            <div class="videoshowcase">

                <div class="videoboxsection">

                    <i class="ri-close-large-line"></i>
                    <video src="/videos/20776482-hd_1920_1080_60fps.mp4" controls></video>

                </div>

            </div>

            <div class="videoshowcase">

                <div class="videoboxsection">

                    <i class="ri-close-large-line"></i>
                    <video src="/videos/20776482-hd_1920_1080_60fps.mp4" controls></video>

                </div>

            </div>

        </div>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/js/videoshowcase.js"></script>

</body>
</html>