<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/whattakeplace.css">
</head>
<body>
    
    <div class="takeplacebox">

        <div class="subbox">

            <div class="takeplacetext">

                <h2> || What Takes Place || </h2>
            
            </div>

            <div class="detailssection">

                <div class="imgbox">

                    <!-- First Image -->
                    <div class="image">

                        <div class="imgsection">

                            <img src="/images/about_puja.jpg" alt="">

                        </div>
                        <div class="textsection1">

                            <h2> About The Puja </h2>

                        </div>
                        <div class="hovertext">

                            <h2> About The Puja ~ </h2>
                            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio officiis iure sit laboriosam voluptatem dolor veniam vero ullam! Natus repellat aliquam officia provident culpa quas tenetur inventore vel in quo!</p>

                        </div>

                    </div>

                    <!-- Second Image -->
                    <div class="image">

                        <div class="imgsection">

                            <img src="/images/aratiimage.jpg" alt="">

                        </div>
                        <div class="textsection2">

                            <h2> Daily Aarti </h2>

                        </div>
                        <div class="hovertext">

                            <h2> Daily Aarti ~ </h2>
                            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio officiis iure sit laboriosam voluptatem dolor veniam vero ullam! Natus repellat aliquam officia provident culpa quas tenetur inventore vel in quo!</p>

                        </div>

                    </div>

                    <!-- Third Image -->
                    <div class="image">

                        <div class="imgsection">

                            <img src="/images/sindur_khela.jpg" alt="">

                        </div>
                        <div class="textsection3">

                            <h2> Sindoor Khela </h2>

                        </div>

                         <div class="hovertext">

                            <h2> Sindoor Khela ~ </h2>
                            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio officiis iure sit laboriosam voluptatem dolor veniam vero ullam! Natus repellat aliquam officia provident culpa quas tenetur inventore vel in quo!</p>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/js/takeplacescript.js"></script>

</body>
</html>