<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/checksubmission.css">
    <link rel="icon" href="/images/logo.png">
    <title>Re-Submission Error!</title>
</head>
<body>
    
    <div class="submissionbox">

        <div class="imgbox">

            <img src="/images/durgapng_image-removebg-preview.png" alt="">

        </div>
        <div class="textbox">

            <h1> Oops! </h1>
            <p> You are an already join to our club as a respected member. </p>

            <a href="/"> Back to home page </a>

        </div>

    </div>

</body>
</html>