*{

    margin: 0;
    padding: 0;

}

@font-face {
    font-family: 'vaidikfont';
    src: url('../fonts/Jaini-Regular.ttf');
}

:root{

    --primary-color: #ffff3f;
    --secondary-color: #2b9348;

}

body{

    width: 100%;
    height: 100vh;
    background-color: #ebebeb;
    display: flex;
    align-items: center;
    justify-content: center;

}

.loginsection{

    width: 700px;
    height: 500px;
    background-image: linear-gradient(180deg, var(--primary-color) 30%, var(--secondary-color) 20%);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 5px solid snow;

}

.loginsection > .loginpagelogo{

    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: aqua; */

}

.loginpagelogo > img{

    width: 150px;
    height: 150px;
    object-fit: cover;

}

.loginsection > .formbox{

    width: 100%;
    height: 350%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    /* background-color: bisque; */

}

.formbox form > label{

    font-family: 'vaidikfont';
    font-size: 30px;
    color: #ffff3f;

}

form > input{

    width: 600px;
    height: 40px;
    padding-left: 20px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: snow;
    font-family: 'vaidikfont';
    color: #2b9348;
    font-size: 15px;
    letter-spacing: 2px;

}

::placeholder{

    font-family: 'vaidikfont';
    font-size: 15px;
    color: #2b9348;

}

form > .formlinkbox{

    width: 100%;
    display: flex;
    gap: 50px;
    align-items: center;

}

.formlinkbox > input{

    width: 200px;
    height: 40px;
    border: none;
    outline: none;
    cursor: pointer;
    font-family: 'vaidikfont';
    font-size: 20px;
    background-color: #ffff3f;
    color: #2b9348;
    border-radius: 10px;

}

form > .formlinkbox a{

    color: #ffff3f;
    font-family: 'vaidikfont';
    font-size: 20px;

}

.formlinkbox > .otherloginlink a{

    color: #ffff3f;
    text-decoration: none;
    font-size: 25px;
    margin-right: 20px;

}

